# GCP App Engine deployment configuration: TEMPLATE
# Environment variables are replaced by github actions during deployment

runtime: custom
env: flex
service: ${ APPENGINE_SERVICE_NAME }
env_variables:
  GCLOUD_PROJECT_ID: consensus-334718
  WEB_CHAT_GPT_PLUGIN_ENV: ${ WEB_CHAT_GPT_PLUGIN_ENV }
  WEB_CHAT_GPT_PLUGIN_PORT: 8080
  WEB_CHAT_GPT_PLUGIN_SEARCH_INDEX: ${ WEB_CHAT_GPT_PLUGIN_SEARCH_INDEX }
  WEB_CHAT_GPT_PLUGIN_DEPLOYED_URL: ${ WEB_CHAT_GPT_PLUGIN_DEPLOYED_URL }

inbound_services:
- warmup

network:
  instance_tag: ${ APPENGINE_SERVICE_NAME }
  name: dev-vpc
  subnetwork_name: subnet-us-central1

automatic_scaling:
  min_num_instances: ${ APPENGINE_AUTO_SCALING_MIN_INSTANCES }
  max_num_instances: ${ APPENGINE_AUTO_SCALING_MAX_INSTANCES }
  cpu_utilization:
    target_utilization: ${ APPENGINE_AUTO_SCALING_CPU_TARGET }
  target_concurrent_requests: 30

resources:
  cpu: ${ APPENGINE_RESOURCES_CPU }
  memory_gb: ${ APPENGINE_RESOURCES_MEMORY_GB }
  disk_size_gb: ${ APPENGINE_RESOURCES_DISK_SIZE_GB }

liveness_check:
  initial_delay_sec: 300
  path: /custom_liveness_check
  check_interval_sec: 15
  timeout_sec: 4
  failure_threshold: 4
  success_threshold: 2

readiness_check:
  app_start_timeout_sec: 900
  path: /custom_readiness_check
  check_interval_sec: 15
  timeout_sec: 4
  failure_threshold: 4
  success_threshold: 2
