src/python/web/scripts/mock_data/* filter=lfs diff=lfs merge=lfs -text
src/mock_data/* filter=lfs diff=lfs merge=lfs -text
src/mock_data/autocomplete_queries_generated_questions_openai.csv filter=lfs diff=lfs merge=lfs -text
